canvas{
width: 90vw;
margin-left: 4vw;
height: 90vh;
background-color: aliceblue;
}

table:hover{
    transform: translate(1vw,13px) rotate( 3deg );   
	transform-origin: left bottom;

}

table{
width: 80vw;
border: 3px solid black;
background-color: antiquewhite;
margin-top: 60px;
}
table tbody tr:nth-child(2n){
    background-color: #f2f2f2;;
    }
table tbody tr:nth-child(1){
background-color: gold;
}

table tbody tr:nth-child(2){
    background-color: silver;
    }
    table tbody tr:nth-child(3){
        background-color:#cd7f32;
        }
            
table tr> * {
    border: 1px solid black;
}

body {
    counter-reset: nrcrt;
  }

table tbody tr td:nth-child(1)::before{
  counter-increment: nrcrt;
  content: counter(nrcrt) ".";
}
table tr td:nth-child(1),table tr th:nth-child(1){
width: 30px;
}


