<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Galerie pentru vizionarea unor modele">
    <meta name="author" content="Onea Radu">
    <meta name="keywords" content="Retele Neurale, Inteligenta artificiala,SA SVM , Grey Wolf,Adaboost,Decision tree">
    <link rel="shortcut icon" type="image/png"
        href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTBOt6eeg0YqdwyyJZLLJJTfNxL7eDAcK1ahaH1ZEbyEcRoMivB" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Inteligenta artificiala</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="js/task.js"></script>
</head>

<body>
<%-include("../Fragments/header")%>
    <main>

<h1>Page not found.Error 404</h1>

    </main>
<%-include("../Fragments/footer")%>
	</body>