<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Galerie pentru vizionarea unor modele" />
    <meta name="author" content="Onea Radu" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTBOt6eeg0YqdwyyJZLLJJTfNxL7eDAcK1ahaH1ZEbyEcRoMivB"
    />

    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script src="js/ejs.min.js"></script>
    <title>Inteligenta artificiala</title>
    <script src="js/shopscript.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="js/task.js"></script>
  </head>

  <body>
    <br />
    <%-include("../Fragments/header")%>
    <main>
      <input type="text" id="search" placeholder="Search..." />
      <br />
      <button
        onclick="filterWith(<%=locals.id%>)"
        type="button"
        class="btn btn-primary"
      >
        Use my filters
      </button>
      <button onclick="filterPrice()" type="button" class="btn btn-primary">
        Get Pricey
      </button>
      <button onclick="SortAfterPrice()" type="button" class="btn btn-primary">
        Sort After Price
      </button>
      <button onclick="Reset()" type="button" class="btn btn-success">
        Reset
      </button>
      <button onclick="clearCart()" type="button" class="btn btn-danger">
        Clear Cart
      </button>
      <button onclick="goCart()" type="button" class="btn btn-dark">
        Go To Cart
      </button>
      <div class="div-table">
        <div class="div-table-row">
          <div class="div-table-col" align="center">#</div>
          <div class="div-table-col">Nume</div>
          <div class="div-table-col">Pret</div>
          <div class="div-table-col">Taguri</div>
        </div>
        <div class="tbody"></div>
      </div>

      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="mr-auto">Shoppy</strong>

          <button
            type="button"
            class="ml-2 mb-1 close"
            data-dismiss="toast"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>
    </main>
    <%-include("../Fragments/footer")%>
  </body>
</html>
